<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ไลบรารี่ JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- ไลบรารี่ Socketio -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <link href="{{ url_for('static', filename='img/logo/KasemBunditLogo.ico') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/logo/KasemBunditLogo.ico') }}" rel="apple-touch-icon">

    <!-- เพิ่มที่อยู่ไฟล์ CSS ที่นี่ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/layout.css') }}">

    {% block static %}

    {% endblock %}

</head>

<body>

    {% block content %}

    {% endblock %}

    <!-- เพิ่มที่อยู่ไฟล์ js ที่นี่ -->
    <script src="{{ url_for('static', filename='js/layout/layout.js') }}"></script>
</body>

</html>